<% if event_menu_item.nil? %>
	<li class="event_menu_popup_item"><br /><%= t('app.msgs.no_events_for_date') %><br /></li>
<% else %>
	<li class="event_menu_popup_item">
		<p><%= link_to event_menu_item.title, event_path(event_menu_item) %></p>
		<p><%= format_time(event_menu_item.start) %> - <%= format_time(event_menu_item.end) %></p>
		<p><%= truncate(event_menu_item.description, :length => 100) %></p>
		<p class="event_menu_popup_item_categories">
			<% if event_menu_item.categories.count > 0 %>
				<%= t('.categories') %> <% event_menu_item.categories.each do |cat| %><%= link_to "[#{cat.title}]", category_events_path(cat.title) %> <% end %>
			<% else %>&nbsp;<% end %>
		</p>
		
	</li>
<% end %>
