

	<ul class="mega-menu">
		<li><%= link_to "Home", root_path, :class => "item" %></li>

		<% (1..6).each do |i| %>
			<li>
				<%= link_to "#{i+13} #{t('date.day_names').to_a[i]}", 
							day_events_path(:date => "2012-05-#{i+13}", :menu_item => i),
							:class => "item event_menu_link" %>					
              <ul id='<%="event_menu_popup#{i}"%>' >
               <%= render("shared/event_menu_item", :collection => @events) || '<li class="event_menu_popup_item">Loading...</li>' %>
              </ul>
						
			</li>
		<% end %>
    <li>
      <%= link_to "Categories", category_events_path, :class => "item" %>
        <ul>
          <% @categories.each do |cat| %>
          <li>
            <p><%= link_to cat.title, category_events_path(cat.title) %></p>
          </li>
          <% end %>
        </ul>
    </li>		
		<li><%= link_to t('.map'), map_page_day_path, :class => "item" %></li>
	</ul>
