<p id="notice"><%= notice %></p>

<p>
  <b>Tag:</b>
  <%= @tag_translation.tag_id %>
</p>

<p>
  <b>Locale:</b>
  <%= @tag_translation.locale %>
</p>

<p>
  <b>Title:</b>
  <%= @tag_translation.title %>
</p>


<%= link_to 'Edit', edit_tag_translation_path(@tag_translation) %> |
<%= link_to 'Back', tag_translations_path %>
