<% is_html = ((defined? html) && html) ? true : false %>

<% if is_html && @categories.count > 0 %>
	<%= form_tag category_events_path, :method => :get, :html => { :class => 'form-horizontal' } do -%>
		<%= select_tag :cat, options_from_collection_for_select(@categories, "title", "title", params[:cat]), :include_blank => true%>
		<%= submit_tag t('app.buttons.search') %>
	<% end -%>
<% end %>


<% if @events.nil? || @events.length == 0 %>
	<% if !params[:cat].nil? %>
		<p><%= t('app.msgs.no_events_for_cat')%></p>
	<% end %>
<% else %>

     <%= render 'shared/event_list', :is_html => is_html %>

<% end %>
