<% is_html = ((defined? html) && html) ? true : false %>

<% if @events.nil? || @events.length == 0 %>
	<p><%= t('app.msgs.no_events_for_date') %></p>
<% else %>

	<div id="export_button_container">
		<div id="right">
			<%= link_to(image_tag("images/Calendar.png", :alt => t('app.buttons.ics')), events_exportICS_path(:type => "day", :typespec => params[:date]), :class => "btn-export", :title => t('app.buttons.ics')) %>
			<%= link_to(image_tag("images/PDF.png", :alt => t('app.buttons.pdf_category')), day_events_path(:date => params[:date], :menu_item => params[:menu_item], :format => 'pdf'), :class => "btn-export-hide", :target => "_blank", :title => t('app.buttons.pdf_category')) %>
			<%= link_to(image_tag("images/Print.png", :alt => t('app.buttons.print_category')), "", :id => "btn-print", :class => "btn-export", :title => t('app.buttons.print_category')) %>
		</div>
		<div class="clear"></div>
	</div>

	<%= render 'shared/event_list', :is_html => is_html %>

<% end %>
