<%= semantic_form_for @event, :html => { :class => 'form-horizontal', :multipart => true } do |f| %>
  <fieldset>
	<%= f.semantic_errors %>
	<%= f.inputs :for => :event_translations do |event_translation, i| %>

		<% formLocale = @locales[i-1].language %>

		<div id="form-<%= formLocale %>" class="multilanguage" >
			<h3><%= @locales[i-1].name %></h3>
			<div class="control-group">
			  <%= event_translation.label :title, :class => 'control-label' %>
			  <div class="controls">
			    <%= event_translation.text_field :title, :class => 'text_field' %>
			  </div>
			</div>
			<div class="control-group">
			  <%= event_translation.label :description, :class => 'control-label' %>
			  <div class="controls">
			    <%= event_translation.input :description, :as => :text, :label => false %>
			  </div>
			</div>
			<%= event_translation.hidden_field :locale , :value => formLocale %>
		</div>

  <% end %>

	<%= f.inputs do %>
		<div class="control-group">
		  <%= f.label :start, :class => 'control-label' %>
		  <div class="controls">
		    <%= f.text_field :start, :as => :time_picker, :class => 'text_field' %>
		  </div>
		</div>
		<div class="control-group">
		  <%= f.label :end, :class => 'control-label' %>
		  <div class="controls">
		    <%= f.text_field :end, :as => :time_picker, :class => 'text_field' %>
		  </div>
		</div>

		<div id="control-map" class="control-map"></div>
		<br />
		
		<div class="control-group">
			<%= f.label :address, :class => "control-label" %>
			<div class="controls">
			  <%= f.text_field :address, :class => "text_field", :label => false %>
			  <%= link_to "#", :id => "btn-getaddr", :class => "btn btn-getaddr" do %> 
			  	 <div>Add to Map</div>
			  <% end%>
				<%= f.hidden_field :lat %>
				<%= f.hidden_field :lon %>
			</div>
		</div>
		
		<div class="control-group">
			<%= f.label :phone, :class => "control-label" %>
			<div class="controls">
			  <%= f.text_field :phone, :as => :phone, :class => "text_field", :label => false %>
			</div>
		</div>
		
		<div class="control-group">
			<%= f.label :url, :class => "control-label" %>
			<div class="controls">
			  <%= f.text_field :url, :as => :url, :class => "text_field", :label => false %>
			</div>
		</div>
		
		<div class="control-group">
		  <%= f.label :Categories, :for => 'event_category_ids', :class => 'control-label' %>
		  <div class="controls">
		    <%= f.input :categories, :as => :check_boxes, :label => false %>
		  </div>
		</div>
		<div class="control-group">
		  <%= f.label :Sponsors, :for => 'event_sponsor_ids', :class => 'control-label' %>
		  <div class="controls">
		    <%= f.input :sponsors, :as => :check_boxes, :label => false %>
		  </div>
		</div>
  <% end %>

	<div class="form-actions">
	  <%= f.submit nil, :class => 'btn btn-primary' %>
	  <%= f.submit nil, :class => 'btn btn-danger', :type => :reset, :value => t('app.buttons.reset'), :name => :reset %>
	  <%= link_to t('app.buttons.cancel'), events_path, :class => 'btn' %>
	</div>
  </fieldset>
<% end %>

