<%= semantic_form_for @event, :html => { :class => 'form-horizontal', :multipart => true } do |f| %>
  <fieldset>
	<%= f.semantic_errors %>
	<%= f.inputs :for => :event_translations do |event_translation, i| %>

		<%  formLocale = nil
				formLocaleName = nil
			@locales.each do |locale| 
			 if locale.language == @event.event_translations[i-1].locale 
				 formLocale = locale.language 
				 formLocaleName = locale.name
					break
			 end 
			
				if formLocale.nil?
					formLocale = @locales[i-1].language
					formLocaleName = @locales[i-1].name
				end
			
		 end %>

		<div id="form-<%= formLocale %>" class="multilanguage">
			<h3><%= formLocaleName %></h3>
			<div class="control-group">
			  <%= event_translation.label :title, :class => 'control-label' %>
			  <div class="controls">
			    <%= event_translation.text_field :title, :class => 'text_field' %>
			  </div>
			</div>
			<div class="control-group">
			  <%= event_translation.label :description, :class => 'control-label' %>
			  <div class="controls">
			    <%= event_translation.input :description, :as => :text, :label => false %>
			  </div>
			</div>

			<div class="control-group">
				<%= event_translation.label :building_name, :class => "control-label" %>
				<div class="controls">
					<%= event_translation.text_field :building_name, :class => "text_field", :label => false %>
				</div>
			</div>
		
			<div class="control-group">
				<%= event_translation.label :address, :class => "control-label" %>
				<div class="controls">
					<%= event_translation.text_field :address, :class => "text_field", :label => false %>
				</div>
			</div>
		
			<div class="control-group">
			  <%= event_translation.label :picture_text, :class => 'control-label' %>
			  <div class="controls">
			    <%= event_translation.input :picture_text, :label => false %>
			  </div>
			</div>
			<%= event_translation.hidden_field :locale , :value => formLocale %>
		</div>

  <% end %>

	<%= f.inputs do %>
		<div class="control-group">
		  <%= f.label :start, :class => 'control-label' %>
		  <div class="controls">
		    <%= f.text_field :start, :as => :time_picker, :class => 'text_field' %>
		  </div>
		</div>
		<div class="control-group">
		  <%= f.label :end, :class => 'control-label' %>
		  <div class="controls">
		    <%= f.text_field :end, :as => :time_picker, :class => 'text_field' %>
		  </div>
		</div>
		
		<div class="control-group">
			<div class="controls">
			  <%= link_to "#", :id => "btn-getaddr", :class => "btn btn-getaddr" do %> 
			  	 <div><%= t('app.buttons.add_address_map') %></div>
			  <% end%>
				<%= f.hidden_field :lat %>
				<%= f.hidden_field :lon %>
			</div>
		</div>
		
		<div id="control-map" class="control-map"></div>
		<br />
		
		<div class="control-group">
			<%= f.label :phone, :class => "control-label" %>
			<div class="controls">
			  <%= f.text_field :phone, :as => :phone, :class => "text_field", :label => false %>
			</div>
		</div>
		
		<div class="control-group">
			<%= f.label :url, :class => "control-label" %>
			<div class="controls">
			  <%= f.text_field :url, :as => :url, :class => "text_field", :label => false %>
			</div>
		</div>
		
		<div class="control-group">
			<%= f.label :url2, :class => "control-label" %>
			<div class="controls">
			  <%= f.text_field :url2, :as => :url2, :class => "text_field", :label => false %>
			</div>
		</div>
		
		<div class="control-group">
		  <%= f.label :picture, :class => 'control-label' %>
		  <div class="controls">
				<% if !@event.picture_file_name.nil? %>
				Current picture on file: <%= image_tag @event.picture.url %> 
				<br />
				<% end %>
		    <%= f.input :picture, :as => :file, :label => false %>
		  </div>
		</div>

		<div class="control-group">
		  <%= f.label :Categories, :for => 'event_category_ids', :class => 'control-label' %>
		  <div class="controls">
		    <%= f.input :categories, :as => :check_boxes, :label => false %>
		  </div>
		</div>
		<div class="control-group">
		  <%= f.label :Sponsors, :for => 'event_sponsor_ids', :class => 'control-label' %>
		  <div class="controls">
		    <%= f.input :sponsors, :as => :check_boxes, :label => false %>
		  </div>
		</div>
  <% end %>

	<div class="form-actions">
	  <%= f.submit nil, :class => 'btn btn-primary' %>
	  <%= f.submit nil, :class => 'btn btn-danger', :type => :reset, :value => t('app.buttons.reset'), :name => :reset %>
	  <%= link_to t('app.buttons.cancel'), events_path, :class => 'btn' %>
	</div>
  </fieldset>
<% end %>

