<%= form_for @event, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> /Event</legend>

    <div class="control-group">
      <%= f.label :start, :class => 'control-label' %>
      <div class="controls">
        <%= f.datetime_select :start, :class => 'datetime_select' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :end, :class => 'control-label' %>
      <div class="controls">
        <%= f.datetime_select :end, :class => 'datetime_select' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :lat, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :lat, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :lon, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :lon, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :address, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :address, :class => 'text_area' %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', events_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
