<%= semantic_form_for @event, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
	<%= f.semantic_errors %>
	<%= f.inputs :for => :event_translations do |event_translation, i| %>

		<% formLocale = @locales[i-1].language %>

		<div id="form-<%= formLocale %>" class="multilanguage" style="<%= 'display:none;' if formLocale.to_s != params[:locale] %>">
			<h3><%= @locales[i-1].name %></h3>
			<div class="control-group">
			  <%= event_translation.label "#{@locales[i-1].name} #{:title}", :class => 'control-label' %>
			  <div class="controls">
			    <%= event_translation.text_field :title, :class => 'text_field' %>
			  </div>
			</div>
			<div class="control-group">
			  <%= event_translation.label "#{@locales[i-1].name} #{:description}", :class => 'control-label' %>
			  <div class="controls">
			    <%= event_translation.input :description, :as => :text, :label => false %>
			  </div>
			</div>
			<%= event_translation.hidden_field :locale , :value => formLocale %>
		</div>

  <% end %>

	<%= f.inputs do %>
		<div class="control-group">
		  <%= f.label :start, :class => 'control-label' %>
		  <div class="controls">
		    <%= f.text_field :start, :as => :time_picker, :class => 'text_field' %>
		  </div>
		</div>
		<div class="control-group">
		  <%= f.label :end, :class => 'control-label' %>
		  <div class="controls">
		    <%= f.text_field :end, :as => :time_picker, :class => 'text_field' %>
		  </div>
		</div>
		<div class="control-group">
		  <%= f.label :lat, :class => 'control-label' %>
		  <div class="controls">
		    <%= f.text_field :lat, :class => 'text_field', :type => :number %>
		  </div>
		</div>
		<div class="control-group">
		  <%= f.label :lon, :class => 'control-label' %>
		  <div class="controls">
		    <%= f.text_field :lon, :class => 'text_field', :type => :number %>
		  </div>
		</div>
		<div class="control-group">
		  <%= f.label :Categories, :for => 'event_category_ids', :class => 'control-label' %>
		  <div class="controls">
		    <%= f.input :categories, :as => :check_boxes, :label => false %>
		  </div>
		</div>
  <% end %>

	<div class="form-actions">
	  <%= f.submit nil, :class => 'btn btn-primary' %>
	  <%= f.submit nil, :class => 'btn btn-danger', :type => :reset, :value => 'Reset', :name => :reset %>
	  <%= link_to 'Cancel', events_path, :class => 'btn' %>
	</div>
  </fieldset>
<% end %>

