<% is_html = ((defined? html) && html) ? true : false %>

<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @event.title %>
</p>

<p>
  <b>Description:</b>
  <%= @event.description %>
</p>

<p>
  <b>Start:</b>
  <%= format_datetime(@event.start) %>
</p>

<p>
  <b>End:</b>
  <%= format_datetime(@event.end) %>
</p>

<p>
  <b>Location:</b>
  <%= @event.address %>
</p>

<p>
  <b>Categories:</b>
	<% @event.categories.each_with_index do |c, i| %>
  	<% separator = ((@event.categories.count - 1) != i) ? ', ' : '' %>
  	<%= link_to c.title, category_events_path(c.title) %><%= separator %>
	<% end %>
</p>

<p>
  <b>Sponsors:</b>
	<% @event.sponsors.each do |s| %>
		<% if !s.logo_file_name.nil? %>
	  	<%= link_to(image_tag(s.logo.url), s.url, :target => '_blank') %>
		<% end %>
	<% end %>
</p>

<p>
	<div id="countdown">
  	<div id="time"></div>
  	<div id="time-abr" class="time-abr"></div>
  </div>
</p>

<% if is_html %>
  <p>
		<%= link_to 'Download PDF', event_path(@event, :format => 'pdf'), :class => "btn btn-mini" %>
		<%= link_to "Export Calendar File", events_exportICS_path(:type => "event", :typespec => @event.id), :class => "btn btn-mini" %>
  </p>
<% end %>

<div id='map'></div>

<% if is_html %>
  <div class="form-actions">
    <%= link_to 'Back', events_path, :class => 'btn'  %>
    <% if user_signed_in? %>
      <%= link_to 'Edit', edit_event_path(@event), :class => 'btn' %>
      <%= link_to 'Delete', event_path(@event), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
    <% end %>
    <%= render :inline => addthis_share_button	 %>
  </div>
<% end %>


