<% is_html = ((defined? html) && html) ? true : false %>

<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @event.title %>
</p>

<p>
  <b>Description:</b>
  <%= @event.description %>
</p>

<p>
  <b>Start:</b>
  <%= format_datetime(@event.start) %>
</p>

<p>
  <b>End:</b>
  <%= format_datetime(@event.end) %>
</p>

<p>
  <b>Location:</b>
  <%= @event.address %>
</p>

<p>
	<div id="countdown">
  	<div id="time"></div>
  	<div id="time-abr" class="time-abr"></div>
  </div>
</p>

<% if is_html %>
  <p>
    <a href="/<%= locale %>/events/exportICS/event/<%= @event.id %>">Export Calendar File</a>
  </p>
<% end %>

<div id='map'></div>

<% if is_html %>
  <div class="form-actions">
    <%= link_to 'Back', events_path, :class => 'btn'  %>
    <% if user_signed_in? %>
      <%= link_to 'Edit', edit_event_path(@event), :class => 'btn' %>
      <%= link_to 'Delete', event_path(@event), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
    <% end %>
  </div>
<% end %>
