<% title t('events.category.title') %>

<div id="export_button_container" class="clear">
	<div id="left">
		<% if @categories.count > 0 %>
			<%= form_tag category_events_path, :method => :get, :html => { :class => 'form-horizontal' } do -%>
				<%= select_tag :cat, options_from_collection_for_select(@categories, "title", "title", params[:cat]), :include_blank => true%>
				<%= submit_tag t('app.buttons.search') %>
			<% end -%>
		<% end %>
	</div>
	<div id="right">
		<% if !@events.nil? && @events.length > 0 && is_html %>
					<%= link_to(image_tag("Calendar.png", :alt => t('app.buttons.ics')), events_exportICS_path(:type => "category", :typespec => params[:cat]), :class => "btn-export", :title => t('app.buttons.ics')) %>
					<%= link_to(image_tag("PDF.png", :alt => t('app.buttons.pdf_category')), category_events_path(:cat => params[:cat], :page => params[:page], :format => 'pdf'), :class => "btn-export", :title => t('app.buttons.pdf_category')) %>
					<%= link_to(image_tag("Print.png", :alt => t('app.buttons.print_category')), "#", :id => "btn-print", :class => "btn-export", :title => t('app.buttons.print_category')) %>
		<% end %>
	</div>
</div>



<% if @events.nil? || @events.length == 0 %>
	<% if !params[:cat].nil? %>
		<p><%= t('app.msgs.no_events_for_cat')%></p>
	<% end %>
<% else %>

     <%= render 'shared/event_list.html' %>

<% end %>
