<% title "#{params[:cat]} Events" %>

<% if @categories.count > 0 %>
	<%= form_tag "/#{I18n.locale}/events/category", :method => :get do -%>
		<%= select_tag :cat, options_from_collection_for_select(@categories, "title", "title"), :include_blank => true%>
		<%= submit_tag 'Search' %>

	<% end -%>
<% end %>


<% if @events.length == 0 %>
	<p>No events exist for this category.

<% else %>

	<table>
	  <tr>
			<th>View Details</th>
			<th>Time</th>
	    <th>Title</th>
	    <th>Description</th>
	  </tr>
	
	<% @events.each do |event| %>
	  <tr>
	    <td><%= link_to 'More', event %></td>
	    <td><%= format_date(event.start) %><br /><%= format_time(event.start) %> - <%= format_time(event.end) %></td>
	    <td><%= event.title %></td>
	    <td><%= truncate(event.description, :length => 100) %></td>
	  </tr>
	<% end %>
	</table>

	<%= will_paginate @events %>

<% end %>

