<% title "#{params[:cat]} Events" %>


<% if @events.nil? || @events.length == 0 %>
	<% if !params[:cat].nil? %>
		<p>No events exist for this category.</p>
	<% end %>
<% else %>

	<table>
	  <tr>
			<th>Time</th>
	    <th>Title</th>
	    <th>Description</th>
	  </tr>
	
	<% @events.each do |event| %>
	  <tr>
	    <td><%= format_date(event.start) %><br /><%= format_time(event.start) %> - <%= format_time(event.end) %></td>
	    <td><%= event.title %></td>
	    <td><%= truncate(event.description, :length => 100) %></td>
	  </tr>
	<% end %>
	</table>

	<%= will_paginate @events %>

<% end %>

