<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @event.title %>
</p>

<p>
  <b>Description:</b>
  <%= @event.description %>
</p>

<p>
  <b>Start:</b>
  <%= format_datetime(@event.start) %>
</p>

<p>
  <b>End:</b>
  <%= format_datetime(@event.end) %>
</p>

<div id='map'></div>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
