<h1>Listing Sponsors</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Url</th>
      <th>Logo</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @sponsors.each do |sponsor| %>
      <tr>
        <td><%= link_to sponsor.title, sponsor_path(sponsor) %></td>
        <td><%= sponsor.description %></td>
        <td><%= link_to sponsor.url, sponsor.url %></td>
        <td>
					<% if !sponsor.logo_file_name.nil? %>
				  <%= image_tag sponsor.logo.url %>
					<% end %>
				</td>
        <td>

	  <% if user_signed_in? %>
            <%= link_to 'Edit', edit_sponsor_path(sponsor), :class => 'btn btn-mini' %>
            <%= link_to 'Destroy', sponsor_path(sponsor), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
	  <% end %>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if user_signed_in? %>
<%= link_to 'New', new_sponsor_path, :class => 'btn btn-primary' %>
<% end %>