<% title t('.title') %>

<% if user_signed_in? %>
	<div class="form-actions">
		<%= link_to t('.app.buttons.new_sponsor'), new_sponsor_path, :class => 'btn btn-mini' %>
	</div>
<% end %>


<% @sponsors.each do |sponsor| %>
		<% if !sponsor.logo_file_name.nil? %>
			<%= image_tag sponsor.logo.url, :class => "sponsor_logo" %>
		<% end %>

	<h3>
		<% if sponsor.sponsor_type.nil? %>
			<%= link_to "#{sponsor.title}", sponsor_path(sponsor) %>
		<% else %>
			<%= link_to "#{sponsor.sponsor_type.title} - #{sponsor.title}", sponsor_path(sponsor) %>
		<% end %>
	</h3>

	<p>
		<% if !sponsor.address.nil? && sponsor.address.length > 0 %>
		  <%= sponsor.address %>
			<br />
		<% end %>
		<% if (!sponsor.phone.nil? && sponsor.phone.length > 0) || (!sponsor.fax.nil? && sponsor.fax.length > 0) ||
				(!sponsor.email.nil? && sponsor.email.length > 0) || (!sponsor.url.nil?&& sponsor.url.length > 0) %>
			<%= link_to sponsor.url, url_with_protocol(sponsor.url) %>
			&nbsp;&nbsp;
			<%= mail_to sponsor.email %>
			&nbsp;&nbsp;
			<%= sponsor.phone %>
			&nbsp;&nbsp;
			<% if !sponsor.fax.nil? && sponsor.fax.length > 0 %>
				<%= t('app.common.fax') %>: <%= sponsor.fax %>
			<% end %>
		<% end %>
	</p>
	<div class="clear"></div>
<% if user_signed_in? %>
<p>
      <%= link_to t('app.buttons.edit'), edit_sponsor_path(sponsor), :class => 'btn btn-mini' %>
      <%= link_to t('app.buttons.delete'), sponsor_path(sponsor), :method => :delete, :confirm => t('app.msgs.delete_confirm'), :class => 'btn btn-mini btn-danger' %>
</p>
<% end %>

<% end %>

<%= will_paginate @sponsors %>


