<% title t('.title') %>

<% if user_signed_in? %>
	<div class="form-actions">
		<%= link_to t('.app.buttons.new_sponsor'), new_sponsor_path, :class => 'btn btn-primary' %>
	</div>
<% end %>


<% @sponsors.each do |sponsor| %>
	<h3><%= link_to sponsor.title, sponsor_path(sponsor) %></h3>

	<p>
		<% if !sponsor.logo_file_name.nil? %>
			<%= image_tag sponsor.logo.url, :style => "float: right; padding-left: 1em; padding-bottom: 1em;" %>
		<% end %>
		<%= truncate(sponsor.description, :length => 50, :separator => ' ') %>
	</p>
	<p>
		<% if !sponsor.address.nil? %>
		  <%= sponsor.address %>
		<% end %>
		<br />
		<% if !sponsor.phone.nil? %>
			<%= sponsor.phone %>
		<% end %>
		<% if !sponsor.fax.nil? %>
			Fax: <%= sponsor.fax %>
		<% end %>
		<br />
		<% if !sponsor.email.nil? %>
			<%= link_to sponsor.email, sponsor.email %>
		<% end %>
		<% if !sponsor.url.nil? %>
			<%= link_to sponsor.url, sponsor.url %>
		<% end %>

	</p>

<% end %>


