<% if @sponsor.sponsor_type.nil? %>
	<% title "#{@sponsor.title}" %>
<% else %>
	<% title "#{@sponsor.sponsor_type.title} - #{@sponsor.title}" %>
<% end %>

	<% if !@sponsor.logo_file_name.nil? %>
  	<%= image_tag @sponsor.logo.url, :class => "sponsor_logo" %>
	<% end %>
  <%= simple_format(@sponsor.description) %>

<div class="clear">&nbsp;</div>

<p>
	<strong><%= t('.contact_header') %></strong>
	<% if !@sponsor.address.nil? && @sponsor.address.length > 0  %>
		<br />
	  <%= @sponsor.address %>
	<% end %>
	<% if !@sponsor.phone.nil? && @sponsor.phone.length > 0  %>
		<br />
		<%= @sponsor.phone %>
	<% end %>
	<% if !@sponsor.fax.nil? && @sponsor.fax.length > 0  %>
		<br />
		<%= t('app.common.fax') %>: <%= @sponsor.fax %>
	<% end %>
	<% if !@sponsor.email.nil? && @sponsor.email.length > 0  %>
		<br />
		<%= mail_to @sponsor.email %>
	<% end %>
	<% if !@sponsor.url.nil? && @sponsor.url.length > 0  %>
		<br />
		<%= link_to @sponsor.url, url_with_protocol(@sponsor.url) %>
	<% end %>

</p>

<div class="form-actions">
	<% @sponsor_types.each do |type| %>
  	<%= link_to type.title, sponsor_by_type_path(type.title), :class => 'btn btn-mini' %>
	<% end %>
	<% if user_signed_in? %>
  	<%= link_to t('app.buttons.list'), sponsors_path, :class => 'btn btn-mini' %>
    <%= link_to t('app.buttons.edit'), edit_sponsor_path(@sponsor), :class => 'btn btn-mini' %>
    <%= link_to t('app.buttons.delete'), sponsor_path(@sponsor), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
	<% end %>
</div>
