<p id="notice"><%= notice %></p>
<h1>
  <b>Title:</b>
  <%= @sponsor.title %>
</h1>

<p>
  <b>Description:</b>
  <%= @sponsor.description %>
</p>

<p>
  <b>Url:</b>
  <%= link_to @sponsor.url, @sponsor.url %>
</p>

<p>
  <b>Logo:</b>
	<% if !@sponsor.logo_file_name.nil? %>
  <%= image_tag @sponsor.logo.url %>
	<% end %>
</p>

<div class="form-actions">
  <%= link_to 'Back', sponsors_path, :class => 'btn'  %>
  <% if user_signed_in? %>
    <%= link_to 'Edit', edit_sponsor_path(@sponsor), :class => 'btn' %>
    <%= link_to 'Delete', sponsor_path(@sponsor), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
  <% end %>
</div>
