<p id="notice"><%= notice %></p>

<p>
  <b><%= t('app.common.name') %>:</b>
  <%= @page.name %>
</p>

<p>
  <b><%= t('app.common.title') %>:</b>
  <%= @page.title %>
</p>

<p>
  <b><%= t('app.common.description') %>:</b>
  <%= @page.description %>
</p>


<% if user_signed_in? %>
<div class="form-actions">
  	<%= link_to t('app.buttons.list'), pages_path, :class => 'btn'  %>
    <%= link_to t('app.buttons.edit'), edit_page_path(@page), :class => 'btn' %>
    <%= link_to t('app.buttons.delete'), page_path(@page), :method => 'delete', :confirm => t('app.msgs.delete_confirm'), :class => 'btn btn-danger' %>
</div>
  <% end %>


