<%= form_for(@event_sponsor) do |f| %>
  <% if @event_sponsor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event_sponsor.errors.count, "error") %> prohibited this event_sponsor from being saved:</h2>

      <ul>
      <% @event_sponsor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :event_id %><br />
    <%= f.number_field :event_id %>
  </div>
  <div class="field">
    <%= f.label :sponsor_id %><br />
    <%= f.number_field :sponsor_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
