<h1>Listing event_sponsors</h1>

<table>
  <tr>
    <th>Event</th>
    <th>Sponsor</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @event_sponsors.each do |event_sponsor| %>
  <tr>
    <td><%= event_sponsor.event_id %></td>
    <td><%= event_sponsor.sponsor_id %></td>
    <td><%= link_to 'Show', event_sponsor %></td>
    <td><%= link_to 'Edit', edit_event_sponsor_path(event_sponsor) %></td>
    <td><%= link_to 'Destroy', event_sponsor, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Event sponsor', new_event_sponsor_path %>
