<p id="notice"><%= notice %></p>

<p>
  <b>Event:</b>
  <%= @event_sponsor.event_id %>
</p>

<p>
  <b>Sponsor:</b>
  <%= @event_sponsor.sponsor_id %>
</p>


<%= link_to 'Edit', edit_event_sponsor_path(@event_sponsor) %> |
<%= link_to 'Back', event_sponsors_path %>
