<%= semantic_form_for @category, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
	<%= f.semantic_errors %>
	<%= f.inputs :for => :category_translations do |category_translation, i| %>

		<%  formLocale = nil
				formLocaleName = nil
			@locales.each do |locale| 
			 if locale.language == @category.category_translations[i-1].locale 
				 formLocale = locale.language 
				 formLocaleName = locale.name
					break
			 end 
			
				if formLocale.nil?
					formLocale = @locales[i-1].language
					formLocaleName = @locales[i-1].name
				end
			
		 end %>

		<div id="form-<%= formLocale %>" class="multilanguage">
			<h3><%= formLocaleName %></h3>
			<div class="control-group">
			  <%= category_translation.label "#{@locales[i-1].name} #{:title}", :class => 'control-label' %>
			  <div class="controls">
			    <%= category_translation.input :title, :label => false, :class => :text_field %>
			  </div>
			</div>
			<%= category_translation.hidden_field :locale , :value => formLocale %>
		</div>

  <% end %>

	<div class="form-actions">
	  <%= f.submit nil, :class => 'btn btn-primary' %>
	  <%= f.submit nil, :class => 'btn btn-danger', :type => :reset, :value => t('app.buttons.reset'), :name => :reset %>
	  <%= link_to t('app.buttons.cancel'), categories_path, :class => 'btn' %>
	</div>
  </fieldset>
<% end %>
