<%= semantic_form_for @category do |f| %>
	<%= f.semantic_errors %>
	<%= f.inputs :for => :category_translations do |category_translation, i| %>
		
		<% formLocale = @locales[i-1].language %>
		
		<div id="form-<%= formLocale %>" class="multilanguage" style="<%= 'display:none;' if formLocale.to_s != params[:locale] %>">
			<%= category_translation.input :title %>
			<%= category_translation.hidden_field :locale , :value => formLocale %>
		</div>

  <% end %>
  	
	<%= f.actions :submit, :reset, :cancel %>
<% end %>
