	<div class="select-events">
		<br />
		<form>
			<%= t('datetime.prompts.day') %>
			<select id="event-day">
				<option></option>
				<% (3..5).each do |i| %>
					<option value="<%= "2012-05-#{i+23}" %>"
						<% if params[:dayorcategory] == "2012-05-#{i+23}" || params[:day] == "2012-05-#{i+23}" %>
						<%= "selected=\"selected\"" %>
						<% end %>><%= "#{i+23} #{t('date.day_names').to_a[i]}" %></option>
				<% end %>
			</select>
			&nbsp;&nbsp;
			<%= t('.category') %>
			<select id="event-category">
				<option></option>
				<% @categories.each do |category| %>
					<option value="<%= "#{category.title}" %>"
						<% if params[:dayorcategory] == "#{category.title}" %>
						<%= "selected=\"selected\"" %>
						<% end %>><%= "#{category.title}" %></option>
				<% end %>
			</select>
		</form>
	</div>
	<div id="map_container">
		<div id="map_map_page"></div>
	</div>
