 <ul id="search_results">
  <% @events.each do |event| %>
    <li>
      <div>
        <h3>
          <%= link_to event.title, event_path(event) %>
        </h3>
        <div>
          <div class="search_results_edr">
            <%= pretty_time(event.start, event.end) %>
          </div>
          <% if !event.address.nil? %>
          	<div class="search_results_sub_section">
          		<span><%= t('app.common.loction') %>:</span> 
							<% if !event.building_name.nil? && event.building_name.length > 0 && !event.address.nil? && event.address.length > 0 %>
								<%= "#{event.building_name}, #{event.address}" %>
							<% elsif !event.building_name.nil? && event.building_name.length > 0 %>
								<%= event.building_name %>
							<% elsif !event.address.nil? && event.address.length > 0 %>
								<%= event.address %>
							<% end %>
						</div>
          <% end %>
          <% ecc = event.categories.count; %>
          <% if ecc > 0 %>
            <div class="search_results_sub_section">
              <span><%= t('app.common.categories') %>:</span>
              <% event.categories.each_with_index do |c, i| %>
                <% separator = ((ecc - 1) != i) ? ', ' : '' %>
                <%= link_to c.title, category_events_path(c.title) %><%= separator %>
              <% end %>
            </div>
          <% end %>
          <div class="search_results_edesc">
						<%= truncate(event.description, :length => 100, :separator => ' ') %>
          </div>
					<div>
						<%= link_to t('app.buttons.ics'), events_exportICS_path(:type => "event", :typespec => event.id), :class => "btn btn-mini" %>
					<% if user_signed_in? %>
					        <%= link_to t('app.buttons.edit'), edit_event_path(event), :class => 'btn btn-mini' %>
					        <%= link_to t('app.buttons.delete'), event_path(event), :method => :delete, :confirm => t('app.msgs.delete_confirm'), :class => 'btn btn-mini btn-danger' %>
					<% end %>
					</div>
        </div>
      </div>
    </li>
  <% end %>
 </ul>

 <%= will_paginate @events %>
