<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="/assets/images/favicon.ico">
    <title>Deutsche Woche 2012 - <%= yield (:title) || "German Week" %></title>
    <%= include_gon %>
    <%= stylesheet_link_tag  "application", :media => "all" %>
    <!--[if IE 6]><%= stylesheet_link_tag 'ie6' %><![endif]-->
    <!--[if IE 7]><%= stylesheet_link_tag 'ie7' %><![endif]-->  
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div id="container">

      <div id="header" class="clear">

        <div class="c1 def-font">
          <a href="<%= "/#{params[:locale]}" %>" class="clear" />
            <img src="/assets/images/logo-german-week.png" />
            <div class="logo-text def-font">
							<%= "#{t('.logo_text')}" %>
							<br />
							<%= "14.-20. #{t('date.abbr_month_names').to_a[5]} 2012" %>
						</div>
          </a>
        </div><!--#header > .c1-->

        <div class="c2">

          <div class="logo">
            <img src="/assets/images/other-logo.png" />
          </div>

          <h3 class="hidden">გერმანიასა და საქართველოს შორის დიპლომატიური ურთიერთობების აღდგენის 20 წლისთავი. 20 jahre diplomatische Beziehungen zwischen Deutschland und Georgien </h3>

        </div><!--#header > .c2-->

        <div class="c3">

          <div class="top-row clear">

            <div id="search_button_and_form">
              <div id="search_form_container">
                <%= render 'german_week/search_form' %>
              </div>
              <div id="search_show_button">
                <img src="/assets/images/search.png" />
              </div>
            </div><!--#search_button-->

          </div><!--#header > .c3 .top-row-->

          <div id="languages" class="def-font upcase menu">
            <% @locales.each do |locale| %>
              <% unless locale.language.to_s == I18n.locale.to_s %> 
                <%= link_to locale.name, params.merge(:locale => locale.language) %>
              <% end %>
            <% end %>
          </div><!--#header .menu-->

        </div><!--#header > .c3-->

      </div><!--#header-->

      <div id="slider" class="clear">
      </div><!--#slider-->

      <div id="content" class="clear">

        <div class="container clear">


            <table><tr><td>

          <div class="menu def-font upcase">
<% 
=begin
 %>
						<%= render "shared/menu" %>
<% 
=end
%>
						<% home_active = " selected" if current_page?(root_path) %>
						<%= link_to t('.home'), root_path, :class => "item #{home_active}" %>
						<% (1..6).each do |i| %>
								<% event_active = " selected" if current_page?(day_events_path(:date => "2012-05-#{i+13}", :menu_item => i)) %>
								<%= link_to "#{i+13} #{t('date.day_names').to_a[i]}", 
											day_events_path(:date => "2012-05-#{i+13}", :menu_item => i),
											:class => "item #{event_active}" %>					
						<% end %>
						<% cat_active = " selected" if current_page?(category_events_path) %>
            <%= link_to t('.categories'), category_events_path, :class => "item #{cat_active}" %>
						<% map_active = " selected" if current_page?(map_page_day_path) %>
            <%= link_to t('.map'), map_page_day_path, :class => "item #{map_active}" %>

          </div><!--#content .container .menu-->

            </td><td class="white-bg">

          <div id="content-board">

						<h2><%= yield(:title) %></h2>


						<% flash.each do |key, msg| %>
								<%= content_tag :div, msg, :class => [key, " message"], :id => "notice_ #{key}" %>
						<% end %>


						<%= yield %>

          </div><!--#content-board-->

            </td></tr></table>

        </div><!--#content > .container-->

      </div><!--#content-->

      <div id="partners" class="clear">

        <div class="container">
			    <% @organizations.each do |org| %>
						<% if !org.logo_file_name.nil? %>
		          <div class="partner">
						  	<%= link_to(image_tag(org.logo.url, :alt => org.title), sponsor_path(org), :title => org.title) %>
		          </div>
						<% else %>
		          <div class="partner">
						  	<%= link_to org.title, sponsor_path(org) %>
		          </div>
						<% end %>
			    <% end %>

        </div>

      </div><!--#partners-->

      <div id="footer">

        <div class="r1 clear">

          <div class="c1 def-font upcase">

            <div class="menu">
              <span class="header"><%= t('.menu') %></span>
							<%= link_to t('.events'), events_path, :class => "item" %>
					    <% @sponsor_types.each do |st| %>
					      <%= link_to st.title, sponsor_by_type_path(st.title), :class => "item" %>
					    <% end %>
							<%= link_to t('.contact'), view_pages_path(:name => "contact"), :class => "item" %>
            </div><!--#footer .r1 .c1 .menu-->

          </div><!--#footer .r1 .c1-->

          <div class="c2 def-font upcase">

            <div class="menu">
              <span class="header"><%= t('.categories') %></span>
					    <% @categories.each do |cat| %>
					      <%= link_to cat.title, category_events_path(cat.title), :class => "item" %>
					    <% end %>
            </div><!--#footer .r1 .c2 .menu-->

          </div><!--#footer .r1 .c2-->

          <div class="c3 def-font upcase">

            <div class="menu">
              <span class="header"><%= t('.admin') %></span>
								<% if user_signed_in? %>  
									<%= link_to t('.events'), events_path, :class => "item" %>
									<%= link_to t('.categories'), categories_path, :class => "item" %>
									<%= link_to t('.sponsors'), sponsors_path, :class => "item" %>
									<%= link_to t('.pages'), pages_path, :class => "item" %>
									<%= link_to t('.sign_out'), destroy_user_session_path, :method => :delete, :class => "item" %>  
								<% else %>  
									<%= link_to t('.sign_up'), new_user_registration_path, :class => "item" %>
									<%= link_to t('.sign_in'), new_user_session_path, :class => "item" %>  
								<% end %>  
            </div><!--#footer .r1 .c3 .menu-->

          </div><!--#footer .r1 .c3-->

          <div class="c4">
						<!-- facebook -->
<div class="fb-like" data-href="http://www.deutschewoche.ge/" data-send="false" data-layout="button_count" data-width="150" data-show-faces="false"></div>

<div class="fb-subscribe" data-href="http://www.facebook.com/DeutscheBotschaftTiflis" data-layout="button_count" data-show-faces="true" data-width="150"></div>
						
						<!-- twitter -->
						<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://deutschewoche.ge/" data-text="Check out Deutsche Woche in Georgia">Tweet</a>

						<!-- google+ -->
						<g:plusone size="medium" annotation="inline" width="150"></g:plusone>
          </div><!--#footer .r1 .c4-->

        </div><!--#footer .r1-->

        <div class="r2 clear"></div><!--#footer .r2-->

        <div class="r3 clear">
          <div class="c1"><%= t('.copyright') %></div>
          <div class="c2">
            <%= link_to t('.disclaimer'), view_pages_path(:name => "disclaimer") %>
          </div>
          <div class="c3">
            <a href="#" href="http://jumpstart.ge/" target="_blank"><%= t('.jumpstart_link') %></a>
          </div>
        </div><!--#footer .r3-->

      </div><!--#footer-->

    </div><!--#container-->

		<%= javascript_include_tag "application" %>
		<%= javascript_tag do %>
			I18n.defaultLocale = "<%= I18n.default_locale %>";
			I18n.locale = "<%= I18n.locale %>";
		<% end %>

		<!-- facebook -->
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>

		<!-- twitter -->
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>  
		<!-- google+ -->
		<script type="text/javascript">
		  (function() {
		    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
		    po.src = 'https://apis.google.com/js/plusone.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
		  })();
		</script>		
		</body>
</html>
