<!DOCTYPE html>
<html>
<head>
  <title>Deutsche Woche 2012 - <%= yield (:title) || "German Week" %></title>
	<%= include_gon %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <!--[if IE 6]><%= stylesheet_link_tag 'ie6' %><![endif]-->
  <!--[if IE 7]><%= stylesheet_link_tag 'ie7' %><![endif]-->
  <%= csrf_meta_tags %>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
</head>
<body>

    <div id="container">

      <div id="header" class="clear">

        <div class="c1 def-font">
          <%= image_tag "#{request.protocol + request.host}/pdf/logo-german-week.png" %>
          <div class="logo-text def-font">
						<%= "#{t('layouts.application.logo_text')}" %>
						<br />
						<%= "14.-20. #{t('date.abbr_month_names').to_a[5]} 2012" %>
					</div>
        </div><!--#header > .c1-->

        <div class="c2">

          <div class="logo">
            <%= image_tag "#{request.protocol + request.host}/pdf/other-logo.png"%>
          </div>

        </div><!--#header > .c2-->

        <div class="c3">

        </div><!--#header > .c3-->

      </div><!--#header-->

      <div id="content" class="clear">

        <div class="container clear">


            <table><tr><td>

            </td><td class="white-bg">

          <div id="content-board">

						<h2><%= yield(:title) %></h2>

						<%= yield %>

          </div><!--#content-board-->

            </td></tr></table>

        </div><!--#content > .container-->

      </div><!--#content-->

    </div><!--#container-->

	  <%= javascript_include_tag "application" %>
</body>
</html>
